<p>Electricomics is a digital comics ecosystem, which gives comic creators a direct and simple way to make and publish their own digital comics while extending the art of the possible in new and innovative ways. The Electricomics ecosystem is built on open standards and open source foundations, overseen by the Electricomics CIC which works for the benefit of the whole comic community. Be confident that we're not going away and will remain open to all.</p>
 
<p>Electricomics began as a research project funded by the Digital R&amp;D Fund for the Arts, which created the first generation of Electricomics Reader and Generator applications and the sample comics that showed the art of the possible. The future is up to you.</p>

<p>For more informations, visit <a href="http://electricomics.net/">electricomics.net</a></p>