<form class="add__form" id="add-remote-form">
  <div class="add__url__wrapper">
    <input id="add-remote-url" type="text" class="add__url" placeholder="Type URL here" required value="" autocomplete="off">
    <input id="add-remote-reset" type="reset" class="add__reset" value="Clear">
    <label for="add-remote-reset" class="add__reset__label" title="Clear"></label>
    <input id="add-remote-submit" type="submit" class="add__submit" value="Download">
    <label for="add-remote-submit" class="add__submit__label" title="Download"></label>
  </div>
  <input id="add-remote-stop" type="button" class="add__stop" value="Stop" title="Cancel Download">
  <span id="add-remote-status" class="status add__status"></span>

  <div class="progressbar add__url__progressbar" id="add-remote-progressbar"><div class="progress-label">Downloading...</div></div>
</form>

<span class="add__divider">or</span>

<form class="add__form" id="add-archive-form">
  <input id="add-archive-file" type="file" class="add__local" accept=".elcx">
  <label for="add-archive-file" class="input add__local__label">Import local content</label>
  <span id="add-archive-status" class="status add__status"></span>
</form>