<div id="library-wrapper">
  {{>item}}
</div>

<div class="dialog" id="dialog-remove-entry" title="Remove this comic?">
  <p>Are you sure you want to close this project without saving it first?</p>
</div>


<script>
var loadLibraryItem = function(item) {
  console.log(item);
};

$('.open-ext').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-ext', { id: id });
});

$('.open-folder').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-folder', { id: id });
});

var dialogRemoveEntry = function(id) {
  var confirm = $('#dialog-remove-entry').dialog({
    resizable: false,
    modal: true,
    width: 550,
    buttons: {
      'Yes remove': function() {
        sendMessage('remove-entry', { id: id });
        $(this).dialog('close');
      },
      'No don\'t remove': function() {
        $(this).dialog('close');
      },
      'Cancel': function() {
        $(this).dialog('close');
      }
    }
  });
  confirm.html('<p>Are you sure you want to remove this comic? (Its files will <strong>not</strong> be deleted from your computer)</p>');
  confirm.dialog('open');
};

$('.remove-entry').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  dialogRemoveEntry(id);
});

var $libraryWrapper = $('#library-wrapper');

var libraryReceiveMessage = receiveMessage;
receiveMessage = function(msg) {
  libraryReceiveMessage(msg);

  if (msg.type === 'library') {
    loadLibraryItem(msg.item);
  }

  if (msg.type === 'deleted') {
    $('#library-' + msg.id).remove();
  }

  if (msg.type === 'load-item') {
    $.ajax({
      url: '/item?id=' + msg.id,
      dataType: 'html',
      success: function(data) {
        $libraryWrapper.append(data);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        dialogError(textStatus);
      }
    });
  }
};
</script>