<div id="library-wrapper">
  {{>item}}
</div>

<div class="dialog" id="dialog-remove-entry" title="Remove this comic?">
  <p>Are you sure you want to close this project without saving it first?</p>
</div>


<script>
var $libraryWrapper = $('#library-wrapper');

var dialogRemoveEntry = function(id) {
  var confirm = $('#dialog-remove-entry').dialog({
    resizable: false,
    modal: true,
    width: 550,
    buttons: {
      'Yes remove': function() {
        sendMessage('remove-entry', { id: id });
        $(this).dialog('close');
      },
      'No don\'t remove': function() {
        $(this).dialog('close');
      },
      'Cancel': function() {
        $(this).dialog('close');
      }
    }
  });
  confirm.html('<p>Are you sure you want to remove this comic? (Its files will <strong>not</strong> be deleted from your computer)</p>');
  confirm.dialog('open');
};

var addItem = function(id) {
  $.ajax({
    url: '/item?id=' + id,
    dataType: 'html',
    success: function(data) {
      $libraryWrapper.append(data);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      dialogError(textStatus);
    }
  });
};

var deleteItem = function(id) {
  $('#library-' + id).remove();
};

$('.open-ext').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-ext', { id: id });
});

$('.open-folder').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  sendMessage('open-folder', { id: id });
});

$('.remove-entry').on('click', function(e) {
  e.preventDefault();
  var id = $(this).data('id');
  dialogRemoveEntry(id);
});


var libraryReceiveMessage = receiveMessage;
receiveMessage = function(msg) {
  libraryReceiveMessage(msg);

  if (msg.type === 'deleted') {
    deleteItem(msg.id);
  }

  if (msg.type === 'add-item') {
    addItem(msg.id);
  }
};
</script>