<div id="accordion">
  <h3>Open local folder</h3>
  <div>
    <form id="">
      <label>Select folder<input type="file" id="open-local-folder" nwdirectory></label>
    </form>
  </div>
  
  <h3>Open local .elcx file</h3>
  <div>
    <form id="">
      <label>Select file<input type="file" id="open-local-archive" accept=".elcx"></label>
    </form>
  </div>
  
  <h3>Open url</h3>
  <div>
    <form id="open-remote-form">
      <label for="open-remote-url">Url</label><input type="text" id="open-remote-url" required>
      <label>Save to<input type="file" id="open-remote-dest" nwdirectory required></label>
      <input type="submit" value="Download">
    </form>

    <div class="progressbar" id="progressbar-url"><div class="progress-label">Downloading...</div></div>
  </div>
</div>

<script>
$("#accordion").accordion();


// forms
var $localFolder = $('#open-local-folder');
$localFolder.on('change', function() {
  var path = this.files[0].path;
  if (path !== '') {
    sendMessage('local-folder', { path: path });
    // reset its value so it can catch the next event in case we select the same previous value
    this.value = '';
  }
});

var $localArchive = $('#open-local-archive');
$localArchive.on('change', function() {
  var path = this.files[0].path;
  if (path !== '') {
    sendMessage('local-archive', { path: path });
    // reset its value so it can catch the next event in case we select the same previous value
    this.value = '';
  }
});

var $openRemoteForm = $('#open-remote-form');
var $openRemoteUrl = $('#open-remote-url');
var $openRemoteDest = $('#open-remote-dest');
$openRemoteForm.on('submit', function(e) {
  e.preventDefault();
  var url = $openRemoteUrl.val();
  var path = $openRemoteDest.get(0).files[0].path;
  if (url !== '' && path !== '') {
    sendMessage('url', { url: url, path: path });
    $progressbarUrl.show();
  }
});


// progress bar
var $progressbarUrl = $('#progressbar-url');
var $progressLabelUrl = $progressbarUrl.find('.progress-label');
$progressbarUrl.progressbar({
  value: false,
  change: function() {
    $progressLabelUrl.text($progressbarUrl.progressbar('value') + '%');
  },
  complete: function() {
    $progressLabelUrl.text('Complete!');
  }
});

var loadReceiveMessage = receiveMessage;
receiveMessage = function(msg) {
  loadReceiveMessage(msg);

  if (msg.type === 'progress-url') {
    $progressbarUrl.progressbar('value', msg.message);
  }
};
</script>