<div id="accordion">
  <h3>Open url</h3>
  <div>
    <form id="open-remote-form">
      <label for="open-remote-url">Url</label><input type="text" id="open-remote-url" required value="releases.ubuntu.com/14.04.3/ubuntu-14.04.3-desktop-amd64.iso">
      <input type="submit" value="Download">
      <input type="button" id="open-remote-stop" value="Stop" style="display: none;">
      <span class="status"></span>
    </form>

    <div class="progressbar" id="progressbar-url"><div class="progress-label">Downloading...</div></div>
  </div>

  <h3>Open local folder</h3>
  <div>
    <form id="open-folder-form">
      <label>Select folder<input type="file" id="open-local-folder" nwdirectory></label>
      <span class="status"></span>
    </form>
  </div>
  
  <h3>Open local .elcx file</h3>
  <div>
    <form id="open-archive-form">
      <label>Select file<input type="file" id="open-local-archive" accept=".elcx"></label>
      <span class="status"></span>
    </form>
  </div>
</div>

<script>
// $("#accordion").accordion();
var $openFolderForm = $('#open-folder-form');
var $openArchiveForm = $('#open-archive-form');
var $openRemoteForm = $('#open-remote-form');
var $openRemoteUrl = $('#open-remote-url');
var $openRemoteStop = $('#open-remote-stop');
var $progressbarUrl = $('#progressbar-url');
var $progressLabelUrl = $progressbarUrl.find('.progress-label');
var totalDownload;
var $currentOpen;

var addhttp = function(url) {
  if (!/^(f|ht)tps?:\/\//i.test(url)) {
    url = "http://" + url;
  }
  return url;
};

var remoteStart = function() {
  var url = addhttp($openRemoteUrl.val());
  if (url !== '') {
    sendMessage('url', { url: url });
  }
};

var remoteStop = function() {
  $progressLabelUrl.text('Error!');
  $openRemoteStop.hide();
  $progressbarUrl.hide();
};

var remoteUpdated = function(val) {
  $progressbarUrl.progressbar('value', val);
};

var remoteStarted = function(val) {
  totalDownload = val;
  $openRemoteStop.show();
  $progressbarUrl.progressbar('value', false)
  $progressbarUrl.show();
};

var importStarted = function() {
  $openFolderForm.find('.status').text('');
  $openArchiveForm.find('.status').text('');
  $openRemoteForm.find('.status').text('');
  $currentOpen.find('.status').text('Importing');
  // disable all forms
  $openFolderForm.find('input').prop('disabled', true);
  $openArchiveForm.find('input').prop('disabled', true);
  $openRemoteForm.find('input:not(#open-remote-stop)').prop('disabled', true);
};

var importError = function() {
  $currentOpen.find('.status').text('Import terminated with error');
  // enable all forms
  $openFolderForm.find('input').prop('disabled', false);
  $openArchiveForm.find('input').prop('disabled', false);
  $openRemoteForm.find('input').prop('disabled', false);
};

var importCompleted = function() {
  $currentOpen.find('.status').text('Import completed!');
  // enable all forms
  $openFolderForm.find('input').prop('disabled', false);
  $openArchiveForm.find('input').prop('disabled', false);
  $openRemoteForm.find('input').prop('disabled', false);
};

// local folder
$('#open-local-folder').on('change', function() {
  var path = this.files[0].path;
  if (path !== '') {
    $currentOpen = $openFolderForm;
    sendMessage('local-folder', { path: path });
    // reset its value so it can catch the next event in case we select the same previous value
    this.value = '';
  }
});

// local archive
$('#open-local-archive').on('change', function() {
  var path = this.files[0].path;
  if (path !== '') {
    $currentOpen = $openArchiveForm;
    sendMessage('local-archive', { path: path });
    // reset its value so it can catch the next event in case we select the same previous value
    this.value = '';
  }
});

// remote url
$openRemoteForm.on('submit', function(e) {
  e.preventDefault();
  $currentOpen = $openRemoteForm;
  remoteStart();
});
$openRemoteStop.on('click', function() {
  sendMessage('interrupt');
});
$progressbarUrl.progressbar({
  value: false,
  change: function() {
    if ($progressbarUrl.progressbar('value') === false) {
      $progressLabelUrl.text('Downloading...');
    }
    else {
      $progressLabelUrl.text('Downloaded ' + $progressbarUrl.progressbar('value') + '% of ' + totalDownload);
    }
  },
  complete: function() {
    $progressLabelUrl.text('Complete!');
  }
});


var loadReceiveMessage = receiveMessage;
receiveMessage = function(msg) {
  loadReceiveMessage(msg);

  if (msg.type === 'progress-url') {
    if (msg.message === -1) {
      remoteStop();
    }
    else {
      remoteUpdated(msg.message);
    }
  }

  if (msg.type === 'download-started') {
    remoteStarted(msg.message);
  }

  if (msg.type === 'import') {
    var status = msg.message;
    if (status === 'started') {
      importStarted();
    }
    if (status === 'completed') {
      importCompleted();
    }
    if (status === 'error') {
      importError();
    }
  }
};
</script>