<div>
  <label>Open comic in your computer<input type="file" id="open-local-comic" nwdirectory></label>
</div>

<script>
$localComic = $('#open-local-comic');

$localComic.on('change', function() {
  var path = this.files[0].path;
  var name = this.files[0].name;
  console.log(path, name);
  if (path !== '') {
    sendMessage('local', { path: path, name: name });
    // reset its value so it can catch the next event in case we select the same previous value
    this.value = '';
  }
});
</script>