<ul class="main-nav__list">
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/store">Store</a>
  </li>
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/library">Library</a>
  </li>
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/add">Manage</a>
  </li>
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/about">About</a>
  </li>
</ul>