<ul class="main-nav__list">
  {{#if internal}}
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/store">Store</a>
  </li>
  {{/if}}
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/library">Library</a>
  </li>
  {{#if internal}}
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/add">Import</a>
  </li>
  {{/if}}
  <li class="main-nav__item">
    <a class="main-nav__link" href="#/about">About</a>
  </li>
</ul>