<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electricomics Web Reader</title>
  <link rel="stylesheet" href="fonts/muli/stylesheet.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<script src="js/lib/jquery.min.js"></script>
<script>
var sendMessage = function(type, obj) {
  var msg = {
    type: type
  };
  $.extend(msg, obj);
  window.parent.postMessage(JSON.stringify(msg), '*');
};
</script>

<header>
  <h1>Electricomics</h1>
</header>

<section>
  <h2>Our Comics</h2>
  {{>comics}}
</section>

<section>
  <h2>Your Library</h2>
  {{>library}}
</section>

{{#if internal}}
<section>
  <h2>Load Comic</h2>
  {{>load}}
</section>
{{/if}}
  
</body>
</html>