<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Electricomics Web Reader</title>
  <link rel="stylesheet" href="js/lib/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" href="fonts/muli/stylesheet.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/jquery-ui/jquery-ui.js"></script>
<script>
var sendMessage = function(type, obj) {
  var msg = {
    type: type
  };
  $.extend(msg, obj);
  window.parent.postMessage(JSON.stringify(msg), '*');
};

var dialogError = function(msg) {
  var confirm = $('#dialog-error').dialog({
    resizable: false,
    modal: true,
    width: 550,
    buttons: {
      'Close': function() {
        $(this).dialog('close');
      }
    }
  });
  confirm.html('<p>' + msg + '</p>');
  confirm.dialog('open');
};
</script>

{{!-- nothing should be included as a partial template above this line --}}
{{!-- any included partial template should be independent and its exclusion should not break the main page --}}

<header>
  <h1>Electricomics</h1>
</header>

{{#if internal}}
<section>
  <h2>Load Comic</h2>
  {{>load}}
</section>
{{/if}}

<section>
  <h2>Our Comics</h2>
  {{>comics}}
</section>

<section>
  <h2>Your Library</h2>
  {{>library}}
</section>

<div class="dialog" id="dialog-error" title="Error">
  <p>Error</p>
</div>

{{!-- nothing should be included as a partial template under this line --}}
<script>
var receiveMessage = function(msg) {
  if (msg.type === 'error') {
    dialogError(msg.message);
    return;
  }
  
  if (msg.type === 'progress-url') {
    $progressbarUrl.progressbar('value', msg.message);
    return;
  }

  if (msg.type === 'library') {
    loadLibraryItem(msg.item);
    return;
  }
};

window.addEventListener('message', function(e) {
  if (e.origin !== 'file://') {
    return false;
  }
  var msg;
  try {
    msg = JSON.parse(e.data);
  }
  catch (err) {
    console.log('error in the received post message');
    return false;
  }

  receiveMessage(msg);
});
</script>  
</body>
</html>